.footer {
    background: $orange;
    padding: 20px;
}

.wrapper-footer {
    padding: 0 20px;

    @media screen and (max-width: $breakpoint-xl)  {
        padding: 0;
    } 
}

.wrapper-footer__title {
    color: $blue;
    font-family: $font-primary;
    font-size: 2.3rem;
    margin: 20px 100px;

    @media screen and (max-width: $breakpoint-xl)  {
        margin: 10px 70px;
    } 

    @media screen and (max-width: $breakpoint-lg)  {
        margin: 10px;
    }
}

.wrapper-contact {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $breakpoint-md)  {
        flex-direction: column;
    }
}

.contact {
    margin: 0 70px;

    &:first-child { 
        font-size: 1.3rem;
        font-weight: bold;  
    }

    @media screen and (max-width: $breakpoint-lg)  {
        margin: 0;
    }

    @media screen and (max-width: $breakpoint-md)  {
        flex-direction: column;
        margin: 10px 0;
    }
}

.contact__item {
	color: $white;
    font-size: 1.1rem;

    @media screen and (max-width: $breakpoint-xl)  {
        font-size: 1rem;
    } 
    
    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 1rem;
    }
}

.wrapper-contact__image {
    margin: 0 40px;

    @media screen and (max-width: $breakpoint-lg)  {
        margin: 0;
    }

    @media screen and (max-width: $breakpoint-md)  {
        width: 70%;
        margin: 20px;
    }
}
