.section-footer{
    background: $color__orange--primary;
    padding: 20px 20px;
}

.section-footer__wrapper-footer{
    margin: 0 auto;
    padding: 0px 30px;
    width: 1300px;
}

.wrapper-footer__title{
    @include font-text($font__primary, bold);
    color: $color__blue--primary;
    font-size: 2.3rem;
    margin: 20px 0px 40px 0px;
}

.wrapper-footer__wrapper-list{
    display: flex;
}

.wrapper-list__list-tel{
    margin: 0px 70px;
}


.wrapper-list__list-contact{
    margin: 0px 70px;
}

.list-contact__items{
    @include font-text($font__primary, normal);
    color: $color__white;
    font-size: 1.1rem;
}

.list-contact__items--first{
    @include font-text($font__primary, bold);
    color: $color__white;
    font-size: 1.2rem;
    margin: 20px 0px;
    text-transform: capitalize;
}

.list-tel__items{
    @include font-text($font__primary, normal);
    color: $color__white;
    font-size: 1.1rem;
}

.list-tel__items--first{
    @include font-text($font__primary, bold);
    color: $color__white;
    font-size: 1.2rem;
    margin: 20px 0px;
    text-transform: capitalize;
}

.wrapper-list__image{
    margin: 20px 90px;
}