#section-main {
    background-color: $white;
}

.introduction {
    padding: 50px 30px 0;

    @media screen and (max-width: $breakpoint-lg)  {
        padding: 10px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        padding: 30px 10px 0;
    }
}

.introduction__title {
    color: $orange;
    font-family: $font-primary;
    font-size: 2rem;
    text-transform:capitalize;

    @media screen and (max-width: $breakpoint-md)  {
        text-align: center;
    }
}

.introduction__paragraph {
    color: $blue;
    font-size: 1.3rem;
    margin-bottom: 80px;
    width: 80%;

    @media screen and (max-width: $breakpoint-md)  {
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        font-size: 1.1rem;
        text-align: center;
        width: 100%;
    }
}

.introduction__subtitle {
    color: $orange;
    font-family: $font-primary;
    font-size: 1.5rem;
    margin-bottom: 70px;
    text-align: center;

    @media screen and (max-width: $breakpoint-md)  {
        text-align: center;
    }
}

.columns-content {
    display: flex;
    margin-bottom:150px;

    @media screen and (max-width: $breakpoint-md)  {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.guide-column {
    border-right: 5px $orange solid;

    @media screen and (max-width: $breakpoint-md)  {
        border: 0;
    }
}

.column {
    padding: 0 60px;
    width: 50%;

    @media screen and (max-width: $breakpoint-lg)  {
        padding: 10px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        padding: 20px 0;
        width: 100%;
    }
}

.column__icon {
    max-width: 20%;
    position: relative;
    right: 0;
    left: 40%;
}

.column__title {
    color: $orange;
    font-family: $font-primary;
    font-size: 1.5rem;
    text-align: center;
}

.column__text {
    color: $blue;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
    
    &::first-letter {
        text-transform: uppercase;
    }
    
    @media screen and (max-width: $breakpoint-sm)  {
        font-size: 1.1rem;
    }
}
