.lp-programs {
    align-items: center;
    display: flex;
    margin: 30px 0;
    padding: 0 60px;

    @media screen and (max-width: $breakpoint-md)  {
        align-items: initial;
        flex-direction: column;
        margin: 0 auto;
        padding: 30px 0;
        width: 95%;
    }
}

.programs__title {
    color: $orange;
    font-family: $font-primary;
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;

    @media screen and (max-width: $breakpoint-md)  {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }
}

.programs__paragraph {
    color: $blue;
    font-size: 1.3rem;
    margin-top: 0;
    text-align: center;

    @media screen and (max-width: $breakpoint-sm)  {
        font-size: 1.1rem;
    }
}

.wrapper-description {
    width: 50%;

    @media screen and (max-width: $breakpoint-md)  {
        width: 100%;
        order: 2;
    }
}

.wrapper-image {
    width: 50%;

    @media screen and (max-width: $breakpoint-md)  {
        width: 100%;
    }
}

.wrapper-image__image {
    display: block;
    margin: 0 auto;
    max-width: 60%;

    @media screen and (max-width: $breakpoint-md)  {
        max-width: 40%;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        max-width: 60%;
    }
}

.wrapper-description__title {
    color: $orange;
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 1.25;

    @media screen and (max-width: $breakpoint-md)  {
        text-align: center;
    }
}

.wrapper-description__paragraph {
    color: $blue;
    font-size: 1.2rem;
    margin-bottom: 30px;     

    @media screen and (max-width: $breakpoint-md)  {
        text-align: center;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        font-size: 1.1rem;
    }
}
