$orange: #ff8f00;
$blue: #2a607e;
$white: white;
$font-primary:'Palanquin Dark', sans-serif;
$font-secondary:'Quicksand', sans-serif;
$breakpoint-sm: 726px;
$breakpoint-md: 800px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
