$orange: #ff8f00;
$blue: #2a607e;
$white: white;
$font-primary:'Palanquin Dark', sans-serif;
$font-secondary:'Quicksand', sans-serif;
$breakpoint-sm: 700px;
$breakpoint-md: 800px;
$breakpoint-lg: 1054px;
