.header {
    max-height: 85vh;
    position: relative;

    @media screen and (max-width: $breakpoint-sm)  {
        height: 80vh;
        padding-bottom: 20px;
    }
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 0;

    @media screen and (max-width: $breakpoint-lg)  {
        padding: 0 20px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        flex-direction: column-reverse;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        flex-direction: column-reverse;
        max-height: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
}

.info-block { 
    background: #2a627edc;
    height: fit-content;
    padding: 20px 20px 40px;
    width: 40%;

    @media screen and (max-width: $breakpoint-lg)  {
        margin-bottom: 30px; 
        width: 65%;
    }

    @media screen and (max-width: $breakpoint-md)  {
        background: none;
        margin: 0 auto;
        padding: 50px 0px;
        width: 50%;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        background: none;
        margin: 50px 0;
        padding: 0;
        width: 100%;
    }
}

.header__title {
    color: $orange;
    font-family: $font-primary;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 50px;

    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 2.1rem;
        margin-left: 30px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        font-size: 2.3rem;
        margin: 10px 10px 50px;
        padding: 0;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        margin: 10px 10px 50px;
        padding: 0;
    }
}

.bubbles-ui {
    position: absolute;
}


.info-block__subtitle {
    color: $white;
    font-family: $font-primary;
    font-size: 1.5rem;

    &::first-letter {
        text-transform: uppercase;
    }

    @media screen and (max-width: $breakpoint-lg)  {
        margin-bottom: 20px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        display: none;
    }
}

.info-block__paragraph {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        display: none;
    }
}

.btn-ui {
    background: $orange;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgb(43, 43, 43);
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    opacity: .9;
    padding: 10px 30px;
    text-align: center;
    transition: ease-in-out .5s;

    &:hover {
        box-shadow: 0 0 0 $blue;
        transition: ease-in-out .5s;
        opacity: 1;
    }
    
    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 1.4rem;
    }

    @media screen and (max-width: $breakpoint-md)  {
        display: block;
        font-size: 1.4rem;
        margin: 0 auto;
        width: 80%;
    }

    @media screen and (max-width: $breakpoint-sm)  {
        display: block;
        font-size: 1.2rem;
        margin: 0 auto;
        width: 80%;
    }
}

.wrapper-illustration__image {
    display: block;
    max-width: 50%;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-md)  {
        max-width: 40%;
    }
}

.wrapper__scroll {
    padding: 20px 0;
    position: relative;
    height: 10vh;

    @media screen and (max-width: $breakpoint-md)  {
        display: none;
    }
}

.wrapper__scroll-down{
    animation: animation__arrow 2.5s infinite ease-in-out;
    background: url("../img/flecha.png") no-repeat center center;
    cursor: pointer;
    left: 0;
    padding: 60px;
    position: absolute;
    right: 0;
}
