.header {
    height: 100vh;

    @media screen and (max-width: $breakpoint-md)  {
        height: 80vh;
    }
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 0;

    @media screen and (max-width: $breakpoint-xl)  {
        padding: 0 40px;
    } 

    @media screen and (max-width: $breakpoint-lg)  {
        padding: 0 20px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        flex-direction: column-reverse;
        max-height: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
}

.info-block { 
    background:$blue;
    height: 300px;
    opacity: .8;
    padding: 20px 60px;
    width: 40%;

    @media screen and (max-width: $breakpoint-xl)  {
        height: 310px;
        padding: 20px;
        width: 50%;
    } 

    @media screen and (max-width: $breakpoint-lg)  {
        height: 260px;
        margin-bottom: 30px; 
        padding: 10px 20px;
        width: 65%;
    }

    @media screen and (max-width: $breakpoint-md)  {
        background: none;
        margin: 50px 0;
        padding: 0;
        width: 100%;
    }
}

.header__title {
    color: $orange;
    font-family: $font-primary;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 10px;

    @media screen and (max-width: $breakpoint-xl)  {
        margin-left: 40px;
    } 

    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 2.1rem;
        margin-left: 30px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        margin: 10px;
        padding: 0;
    }
}

.info-block__subtitle {
    color: $white;
    font-size: 1.2rem;
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }

    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        display: none;
    }
}

.info-block__paragraph {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    @media screen and (max-width: $breakpoint-md)  {
        display: none;
    }
}

.btn-ui {
    background: $orange;
    border: 0;
    border-radius: 8px;
    box-shadow: -1px 0px 15px black;
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 10px 30px;
    text-align: center;
    transition: ease-in-out .5s;

    &:hover {
        box-shadow: 0 0 0 $blue;
        color: $blue;
        transition: ease-in-out .5s;
    }
    
    @media screen and (max-width: $breakpoint-lg)  {
        font-size: 1.4rem;
    }

    @media screen and (max-width: $breakpoint-md)  {
        display: block;
        font-size: 1.2rem;
        margin: 0 auto;
        width: 80%;
    }
}

.wrapper-illustration__image {
    display: block;
    height: auto;
    max-width: 50%;
    margin: 0 auto;
}

.header__scroll-down {
    animation: animation__arrow 2.5s infinite ease-in-out;
    background: url("../img/flecha.png") no-repeat center center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 60px;
    width: 10%;

    @media screen and (max-width: $breakpoint-md)  {
        display: none;
    }
}
