.section-header {
    height: 95vh;  
    width: 100%;
}

.section-header__wrapper-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 20px 60px  20px;
    width: 1300px;
}

.wrapper-content__info-block { 
    width: 40%;
}

.info-block__title--main {
    color: $color-orange;
		font-size: 3.5rem;
		margin: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.info-block__title {
		color: $color-blue;
    font-size: 2rem;
		text-transform: lowercase;
		&::first-letter {
			text-transform: uppercase;
		}
}

.info-block__title--color {
		color: $color-orange;
    text-transform: uppercase;
}

.info-block__paragraph {
		color: $color-blue;
		font-size: 1.3rem;
		margin-bottom: 40px;
}

.info-block__chatbot-btn {
    background: $color-blue;
    border: 0;
    border-radius: 10px;
    box-shadow: -1px 2px 5px black;
    color: $color-white;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: 10px 30px;
		transition: ease-in-out 0.5s;
		&:hover {
			box-shadow: 0 0 0 $color-blue;
			color: $color-orange;
			transition: ease-in-out 0.5s;
	}
}

.wrapper-assets__image {
		display: block;
		height: auto;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
}

.section-header__arrow {
		animation: animation__arrow 2.5s infinite ease-in-out;
    background: url('../img/flecha.png') no-repeat center center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 60px;
		width: 10%;
}

@keyframes animation__arrow {
    0% {
        padding-top: 60px;
    }
    50% {
        padding-top: 30px;
    }
}
