.head-util {
    background-color: $orange;
    padding: 10px;
}

.lp-group {
    max-width: 1300px;
    margin: 0 auto;
}

.wrapper-link {
    display: flex;
    justify-content: flex-end;
}

.link-pl {
    color: $white;
    font-size: 1rem;
    transition: ease-in-out .5s;
    padding: 10px;

    &:hover {
        color: $blue;
        transition: ease-in-out .5s;
	}
}
