.article-comeback {
    background-color: $color-orange;
    widows: 100%;
}

.article-comeback__wrapper-comeback {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 1300px;
}

.wrapper-comeback__btn-comeback {
		color: $color-white;
    font-size: 1rem;
    text-transform: capitalize;
		transition: ease-in-out 0.5s;
		margin-left: 60px;
    padding: 10px;
		&:hover {
			color: $color-blue;
			transition: ease-in-out 0.5s;
	}
}
