.section-main__wrapper-courses {
		background: url('../img/forma2.svg') no-repeat;
		background-size: cover;
		background-position: center;
		height: 110vh;
}

.wrapper-courses__free-benefits {
		display: flex;
		margin: 0 auto;
		position: relative;
		top: 25%;
		width: 1300px;
}

.free-benefits__wrapper-gif {
		width: 50%;
}

.wrapper-gif__gif {
    max-width: 100%;
    padding: 0 70px;
}

.free-benefits__wrapper-content {
    width: 50%;
}

.wrapper-content__title {
    color: $color-orange;
		font-size: 2rem;
    text-transform: capitalize;
}

.wrapper-content__paragraph {
		color: $color-white;
		font-size: 1.2rem;
    margin-bottom: 40px;
}

.btn-ui {
    background: $color-orange;
    border: 0;
    border-radius: 10px;
    box-shadow: -1px 2px 5px black;
    color: $color-white;
    cursor: pointer;
		font-size: 1.4rem;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    text-transform: capitalize;
		transition: ease-in-out 0.5s;
		&:hover {
			box-shadow: 0 0 0 black;
			color: $color-blue;
			transition: ease-in-out 0.5s;
	}
}
