.section-main{
    background-color: $color__white;
}

.section-main__wrapper-main{
    margin: 0 auto;
    padding: 70px 20px 0px 20px;
    width: 1300px;
}

.wrapper-main__title{
    @include font-text($font__primary, bold);
    font-weight: bold;
		color: $color__orange--primary;
    font-size: 2rem;
    text-transform:capitalize;
}

.wrapper-main__paragraph{
		@include font-text($font__primary, normal);
		color: $color__blue--primary;
    font-size: 1.3rem;
    margin-bottom: 80px;
    width: 80%;
}

.wrapper-main__subtitle{
    @include font-text($font__primary, bold);
		color: $color__orange--primary;
    font-size: 1.5rem;
    margin-bottom: 70px;
    text-align: center;
}

.wrapper-main__columns-content{
    display: flex;
    margin: 0px 0px 170px 0px;
}

.columns-content__guide-column{
    border-right: 5px $color__orange--primary solid;
    padding: 0px 60px;
    width: 50%;
}

.columns-content__services-column{
    padding: 0px 60px;
    width: 50%;
}

.column-icon-ui{
    max-width: 20%;
    position: relative;
    right: 0;
    left: 40%;
}

.column-title-ui{
    @include font-text($font__primary, bold);
		color: $color__orange--primary;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    
}

.column-text-ui{
    @include font-text($font__primary, normal);
    &::first-letter{
        text-transform: uppercase;
		}
		color: $color__blue--primary;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
}
