.section-programs-ui {
    padding-top: 0;
    padding-bottom: 60px;
}

.title__programs {
    text-align: center;
}

.paragraph__programs {
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
}

.programs-ui {
    align-items: center;
    display: flex;
    margin: 30px 0;
    padding: 0 40px;
}

.programs-ui__wrapper-description-ui {
    width: 50%;
}

.programs-ui__wrapper-img-ui {
    width: 50%;
}

.wrapper-image__image {
    display: block;
    margin: 0 auto;
    max-width: 60%;
}

.wrapper-description__title {
    color: $color-orange;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.wrapper-description__paragraph {
    color: $color-blue;
    font-size: 1.2rem;
    margin-bottom: 30px;        
}
