@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../font/Roboto-Bold.ttf"); }
@font-face {
  font-family: 'Roboto-normal', sans-serif;
  src: url("../font/Roboto-Light.ttf"); }
html {
  scroll-behavior: smooth; }

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.article-comeback {
  background-color: #ff8f00;
  widows: 100%; }

.article-comeback__wrapper-comeback {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1300px; }

.wrapper-comeback__btn-comeback {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  transition: ease-in-out 0.5s;
  margin-left: 60px;
  padding: 10px; }
  .wrapper-comeback__btn-comeback:hover {
    color: #2a607e;
    transition: ease-in-out 0.5s; }

.section-header {
  height: 95vh;
  width: 100%; }

.section-header__wrapper-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 20px 60px  20px;
  width: 1300px; }

.wrapper-content__info-block {
  width: 40%; }

.info-block__title--main {
  color: #ff8f00;
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 60px;
  text-transform: uppercase; }

.info-block__title {
  color: #2a607e;
  font-size: 2rem;
  text-transform: lowercase; }
  .info-block__title::first-letter {
    text-transform: uppercase; }

.info-block__title--color {
  color: #ff8f00;
  text-transform: uppercase; }

.info-block__paragraph {
  color: #2a607e;
  font-size: 1.3rem;
  margin-bottom: 40px; }

.info-block__chatbot-btn {
  background: #2a607e;
  border: 0;
  border-radius: 10px;
  box-shadow: -1px 2px 5px black;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  padding: 10px 30px;
  transition: ease-in-out 0.5s; }
  .info-block__chatbot-btn:hover {
    box-shadow: 0 0 0 #2a607e;
    color: #ff8f00;
    transition: ease-in-out 0.5s; }

.wrapper-assets__image {
  display: block;
  height: auto;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px 10px; }

.section-header__arrow {
  animation: animation__arrow 2.5s infinite ease-in-out;
  background: url("../img/flecha.png") no-repeat center center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 60px;
  width: 10%; }

@keyframes animation__arrow {
  0% {
    padding-top: 60px; }
  50% {
    padding-top: 30px; } }
.section-main__wrapper-courses {
  background: url("../img/forma2.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh; }

.wrapper-courses__free-benefits {
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 25%;
  width: 1300px; }

.free-benefits__wrapper-gif {
  width: 50%; }

.wrapper-gif__gif {
  max-width: 100%;
  padding: 0 70px; }

.free-benefits__wrapper-content {
  width: 50%; }

.wrapper-content__title {
  color: #ff8f00;
  font-size: 2rem;
  text-transform: capitalize; }

.wrapper-content__paragraph {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 40px; }

.btn-ui {
  background: #ff8f00;
  border: 0;
  border-radius: 10px;
  box-shadow: -1px 2px 5px black;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  text-transform: capitalize;
  transition: ease-in-out 0.5s; }
  .btn-ui:hover {
    box-shadow: 0 0 0 black;
    color: #2a607e;
    transition: ease-in-out 0.5s; }

.section-main {
  background-color: white; }

.section-main__wrapper-main {
  margin: 0 auto;
  padding: 70px 20px 0 20px;
  width: 1300px; }

.wrapper-main__title {
  color: #ff8f00;
  font-size: 2rem;
  text-transform: capitalize; }

.wrapper-main__paragraph {
  color: #2a607e;
  font-size: 1.3rem;
  margin-bottom: 80px;
  width: 80%; }

.wrapper-main__subtitle {
  color: #ff8f00;
  font-size: 1.5rem;
  margin-bottom: 70px;
  text-align: center; }

.wrapper-main__columns-content {
  display: flex;
  margin: 0 0 170px 0; }

.columns-content__guide-column {
  border-right: 5px #ff8f00 solid;
  padding: 0 60px;
  width: 50%; }

.columns-content__services-column {
  padding: 0 60px;
  width: 50%; }

.column__icon-ui {
  max-width: 20%;
  position: relative;
  right: 0;
  left: 40%; }

.column__title-ui {
  color: #ff8f00;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize; }

.column__text-ui {
  color: #2a607e;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center; }
  .column__text-ui::first-letter {
    text-transform: uppercase; }

.section-programs-ui {
  padding-top: 0;
  padding-bottom: 60px; }

.title__programs {
  text-align: center; }

.paragraph__programs {
  margin-bottom: 100px;
  text-align: center;
  width: 100%; }

.programs-ui {
  align-items: center;
  display: flex;
  margin: 30px 0;
  padding: 0 40px; }

.programs-ui__wrapper-description-ui {
  width: 50%; }

.programs-ui__wrapper-img-ui {
  width: 50%; }

.wrapper-image__image {
  display: block;
  margin: 0 auto;
  max-width: 60%; }

.wrapper-description__title {
  color: #ff8f00;
  font-size: 1.5rem;
  text-transform: capitalize; }

.wrapper-description__paragraph {
  color: #2a607e;
  font-size: 1.2rem;
  margin-bottom: 30px; }

.section-footer {
  background: #ff8f00;
  padding: 20px; }

.section-footer__wrapper-footer {
  margin: 0 auto;
  padding: 0 30px;
  width: 1300px; }

.wrapper-footer__title {
  color: #2a607e;
  font-size: 2.3rem;
  margin: 20px 0 40px; }

.wrapper-footer__wrapper-list {
  display: flex; }

.wrapper-list__list-contact {
  margin: 0 70px; }

.item-first {
  color: white;
  font-size: 1.2rem;
  margin: 20px 0;
  text-transform: capitalize; }

.list__items-ui {
  color: white;
  font-size: 1.1rem; }

.wrapper-list__image {
  margin: 20px 90px; }

.article-chatbot {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  position: fixed;
  right: 0; }

.article-chatbot__chat-field {
  background: white;
  border: 0.5px #2a607e solid;
  box-shadow: 2px 2px 10px #2a607e;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  right: -40vw;
  transition: ease-in-out 0.5s;
  transform: scale(0);
  width: 500px; }

.chat-field__header-chat {
  background: #2a607e;
  display: flex;
  justify-content: space-between; }

.header-chat__paragraph {
  color: white;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px 30px; }

.header-chat__btn-close {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 0 20px 10px 20px; }

.article-chatbot__form-chat {
  background: white;
  border: 1px #2a607e solid;
  border-radius: 20px;
  display: flex;
  margin: 10px 10px 10px 10px; }

#chat-field__text-chat {
  padding: 10px 20px 30px 20px;
  overflow: auto; }
  #chat-field__text-chat::-webkit-scrollbar {
    width: 10px; }
  #chat-field__text-chat::-webkit-scrollbar-thumb {
    background-color: #ff8f00;
    border-radius: 30px;
    width: 10px; }
  #chat-field__text-chat::-webkit-scrollbar-button {
    display: none; }
  #chat-field__text-chat::-webkit-scrollbar-corner {
    background-color: black; }

.form-chat__message-field {
  background: none;
  border: 0;
  height: 40px;
  margin: 10px 30px;
  outline: none;
  resize: none;
  width: 100%; }
  .form-chat__message-field::placeholder {
    text-align: center;
    padding-top: 10px; }

.article-chatbot__btn {
  cursor: pointer;
  height: 100px;
  width: 100px; }

.form-chat__input {
  background: #ff8f00;
  border: 0;
  border-radius: 10px;
  box-shadow: -1px 2px 5px black;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  height: 40px;
  letter-spacing: 1.5px;
  margin: 10px;
  padding: 5px 15px;
  text-transform: capitalize; }

/*# sourceMappingURL=styles.css.map */
