html {
  scroll-behavior: smooth; }

body {
  background: white;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

@keyframes animation__arrow {
  0% {
    padding-top: 60px; }
  50% {
    padding-top: 30px; } }
.head-util {
  background-color: #ff8f00;
  padding: 10px; }

.lp-group {
  max-width: 1300px;
  margin: 0 auto; }

.wrapper-link {
  display: flex;
  justify-content: flex-end; }

.link-pl {
  color: white;
  font-size: 1rem;
  transition: ease-in-out .5s;
  padding: 10px; }
  .link-pl:hover {
    color: #2a607e;
    transition: ease-in-out .5s; }

.header {
  max-height: 85vh; }
  @media screen and (max-width: 800px) {
    .header {
      height: 80vh; } }

.wrapper-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0; }
  @media screen and (max-width: 1200px) {
    .wrapper-header {
      padding: 0 40px; } }
  @media screen and (max-width: 992px) {
    .wrapper-header {
      padding: 0 20px; } }
  @media screen and (max-width: 800px) {
    .wrapper-header {
      flex-direction: column-reverse;
      max-height: 100%;
      margin-bottom: 40px;
      padding: 0; } }

.info-block {
  background: #2a607e;
  height: fit-content;
  padding: 20px;
  width: 40%; }
  @media screen and (max-width: 1200px) {
    .info-block {
      width: 50%; } }
  @media screen and (max-width: 992px) {
    .info-block {
      margin-bottom: 30px;
      width: 65%; } }
  @media screen and (max-width: 800px) {
    .info-block {
      background: none;
      margin: 50px 0;
      padding: 0;
      width: 100%; } }

.header__title {
  color: #ff8f00;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 50px; }
  @media screen and (max-width: 1200px) {
    .header__title {
      margin-left: 40px; } }
  @media screen and (max-width: 992px) {
    .header__title {
      font-size: 2.1rem;
      margin-left: 30px; } }
  @media screen and (max-width: 800px) {
    .header__title {
      margin: 10px;
      padding: 0; } }

.info-block__subtitle {
  color: white;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.5rem; }
  .info-block__subtitle::first-letter {
    text-transform: uppercase; }
  @media screen and (max-width: 992px) {
    .info-block__subtitle {
      margin-bottom: 20px; } }
  @media screen and (max-width: 800px) {
    .info-block__subtitle {
      display: none; } }

.info-block__paragraph {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 40px; }
  @media screen and (max-width: 992px) {
    .info-block__paragraph {
      font-size: 1rem;
      margin-bottom: 20px; } }
  @media screen and (max-width: 800px) {
    .info-block__paragraph {
      display: none; } }

.btn-ui {
  background: #ff8f00;
  border: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #2b2b2b;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  opacity: .9;
  padding: 10px 30px;
  text-align: center;
  transition: ease-in-out .5s; }
  .btn-ui:hover {
    box-shadow: 0 0 0 #2a607e;
    transition: ease-in-out .5s;
    opacity: 1; }
  @media screen and (max-width: 992px) {
    .btn-ui {
      font-size: 1.4rem; } }
  @media screen and (max-width: 800px) {
    .btn-ui {
      display: block;
      font-size: 1.2rem;
      margin: 0 auto;
      width: 80%; } }

.wrapper-illustration__image {
  display: block;
  height: auto;
  max-width: 50%;
  margin: 0 auto; }

.wrapper__scroll {
  padding: 20px 0;
  position: relative;
  height: 10vh; }

.wrapper__scroll-down {
  animation: animation__arrow 2.5s infinite ease-in-out;
  background: url("../img/flecha.png") no-repeat center center;
  cursor: pointer;
  left: 0;
  padding: 60px;
  position: absolute;
  right: 0; }
  @media screen and (max-width: 800px) {
    .wrapper__scroll-down {
      display: none; } }

.courses {
  background: url("../img/forma2.svg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 110vh; }
  @media screen and (max-width: 1200px) {
    .courses {
      height: 80vh; } }
  @media screen and (max-width: 992px) {
    .courses {
      padding-bottom: 30px; } }
  @media screen and (max-width: 800px) {
    .courses {
      background: none;
      height: 100vh;
      padding: 0;
      margin-bottom: 150px; } }

.wrapper-courses {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 25%; }
  @media screen and (max-width: 800px) {
    .wrapper-courses {
      flex-direction: column;
      max-height: 100%;
      padding: 10px; } }

.wrapper-animation {
  width: 45%; }
  @media screen and (max-width: 800px) {
    .wrapper-animation {
      width: 100%; } }

.wrapper-animation__video {
  max-width: 100%; }
  @media screen and (max-width: 992px) {
    .wrapper-animation__video {
      display: block;
      margin: 0 auto;
      width: 80%;
      padding: 25px 0 0 10px; } }
  @media screen and (max-width: 800px) {
    .wrapper-animation__video {
      padding: 0; } }

.wrapper-benefits {
  width: 50%; }
  @media screen and (max-width: 800px) {
    .wrapper-benefits {
      margin: 0 auto;
      width: 80%; } }

.wrapper-benefits__title {
  color: white;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 3rem;
  margin: 20px 0; }
  @media screen and (max-width: 992px) {
    .wrapper-benefits__title {
      font-size: 2.2rem; } }
  @media screen and (max-width: 800px) {
    .wrapper-benefits__title {
      color: #ff8f00;
      font-size: 2rem;
      text-align: center; } }

.wrapper-benefits__paragraph {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 40px; }
  @media screen and (max-width: 992px) {
    .wrapper-benefits__paragraph {
      font-size: 1rem; } }
  @media screen and (max-width: 800px) {
    .wrapper-benefits__paragraph {
      color: #2a607e;
      text-align: center; } }

#section-main {
  background-color: white; }

.introduction {
  padding: 50px 30px 0; }
  @media screen and (max-width: 1200px) {
    .introduction {
      padding: 30px 20px 0; } }
  @media screen and (max-width: 992px) {
    .introduction {
      padding: 10px; } }
  @media screen and (max-width: 800px) {
    .introduction {
      padding: 30px 10px 0; } }

.introduction__title {
  color: #ff8f00;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 2rem;
  text-transform: capitalize; }
  @media screen and (max-width: 800px) {
    .introduction__title {
      font-size: 1.8rem;
      text-align: center; } }

.introduction__paragraph {
  color: #2a607e;
  font-size: 1.3rem;
  margin-bottom: 80px;
  width: 80%; }
  @media screen and (max-width: 800px) {
    .introduction__paragraph {
      font-size: 1.1rem;
      text-align: center;
      width: 100%; } }

.introduction__subtitle {
  color: #ff8f00;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 70px;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .introduction__subtitle {
      font-size: 1.3rem;
      text-align: center;
      width: 100%; } }

.columns-content {
  display: flex;
  margin-bottom: 150px; }
  @media screen and (max-width: 800px) {
    .columns-content {
      flex-direction: column;
      margin-bottom: 0; } }

.guide-column {
  border-right: 5px #ff8f00 solid; }
  @media screen and (max-width: 800px) {
    .guide-column {
      border: 0; } }

.column {
  padding: 0 60px;
  width: 50%; }
  @media screen and (max-width: 1200px) {
    .column {
      padding-bottom: 20; } }
  @media screen and (max-width: 992px) {
    .column {
      padding: 10px; } }
  @media screen and (max-width: 800px) {
    .column {
      padding: 20px 0;
      width: 100%; } }

.column__icon {
  max-width: 20%;
  position: relative;
  right: 0;
  left: 40%; }

.column__title {
  color: #ff8f00;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize; }

.column__text {
  color: #2a607e;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center; }
  .column__text::first-letter {
    text-transform: uppercase; }
  @media screen and (max-width: 800px) {
    .column__text {
      font-size: 1.1rem; } }

.lp-programs {
  align-items: center;
  display: flex;
  margin: 30px 0;
  padding: 0 60px; }
  @media screen and (max-width: 800px) {
    .lp-programs {
      align-items: initial;
      flex-direction: column;
      margin: 0 auto;
      padding: 30px 0;
      width: 95%; } }

.programs__title {
  color: #ff8f00;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 2rem;
  text-align: center; }

.programs__paragraph {
  color: #2a607e;
  font-size: 1.3rem;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .programs__paragraph {
      font-size: 1rem; } }

.wrapper-description {
  width: 50%; }
  @media screen and (max-width: 800px) {
    .wrapper-description {
      width: 100%;
      order: 2; } }

.wrapper-image {
  width: 50%; }
  @media screen and (max-width: 800px) {
    .wrapper-image {
      width: 100%; } }

.wrapper-image__image {
  display: block;
  margin: 0 auto;
  max-width: 60%; }

.wrapper-description__title {
  color: #ff8f00;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize; }
  @media screen and (max-width: 992px) {
    .wrapper-description__title {
      font-size: 1.3rem; } }
  @media screen and (max-width: 800px) {
    .wrapper-description__title {
      text-align: center; } }

.wrapper-description__paragraph {
  color: #2a607e;
  font-size: 1.2rem;
  margin-bottom: 30px; }
  @media screen and (max-width: 992px) {
    .wrapper-description__paragraph {
      font-size: 1rem; } }
  @media screen and (max-width: 800px) {
    .wrapper-description__paragraph {
      text-align: center; } }

.footer {
  background: #ff8f00;
  padding: 20px; }

.wrapper-footer {
  padding: 0 20px; }
  @media screen and (max-width: 1200px) {
    .wrapper-footer {
      padding: 0; } }

.wrapper-footer__title {
  color: #2a607e;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 2.3rem;
  margin: 20px 100px; }
  @media screen and (max-width: 1200px) {
    .wrapper-footer__title {
      margin: 10px 70px; } }
  @media screen and (max-width: 992px) {
    .wrapper-footer__title {
      margin: 10px; } }

.wrapper-contact {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px; }
  @media screen and (max-width: 800px) {
    .wrapper-contact {
      flex-direction: column; } }

.contact {
  margin: 0 70px; }
  .contact:first-child {
    font-size: 1.3rem;
    font-weight: bold; }
  @media screen and (max-width: 992px) {
    .contact {
      margin: 0; } }
  @media screen and (max-width: 800px) {
    .contact {
      flex-direction: column;
      margin: 10px 0; } }

.contact__item {
  color: white;
  font-size: 1.1rem; }
  @media screen and (max-width: 1200px) {
    .contact__item {
      font-size: 1rem; } }
  @media screen and (max-width: 992px) {
    .contact__item {
      font-size: 1rem; } }

.wrapper-contact__image {
  margin: 0 40px;
  width: 200px; }
  @media screen and (max-width: 992px) {
    .wrapper-contact__image {
      margin: 0; } }
  @media screen and (max-width: 800px) {
    .wrapper-contact__image {
      margin: 20px; } }

.chatbot__btn {
  bottom: 0;
  cursor: pointer;
  height: 100px;
  position: fixed;
  right: 0;
  width: 100px; }

/*# sourceMappingURL=styles.css.map */
